.word-scores {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*font-size: 2.5rem;*/
}

.scored-word {
  cursor: pointer;
  font-weight: bold;
}

/*.scored-word:hover {
  color: #444;
}*/

.big-text {
  font-size: 2.5rem;
  margin: 20px 0;
  font-weight: bold;
}

.label {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

.winning-word-underline {
  width: 200px;
  border-bottom: 1px solid #000;
  position: absolute;
  top: 54px;
  margin-left: 12px;
}