.react-datetime-picker.form-control {
  display: inline-block;
  width: auto;
}

.form-control .react-datetime-picker__wrapper {
  flex-grow: unset;
  border: none;
}

.form-control .react-datetime-picker__inputGroup {
  flex-grow: unset;
}

.voting-interval {
  width: auto;
}