.home-body {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.question-container {
  margin-top: 40px;
}
.left-column {
  flex: 1;
  max-width: 350px;
}
.right-column {
  flex: 2;
  padding: 0 80px;
}

.label {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

@media only screen and (max-width: 800px) {
  .right-column {
    padding: 0 5px;
  }
  .left-column {
    display: none;
  }
  .home-body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}