.login-overlay-container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  left: -40px;
}

.header-link {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.header-link:first-child {
  border-right: 1px solid #555;
  padding-right: 10px;
}