.home-container {
  margin: 40px;
}
.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-body {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.question-container {
  margin-top: 40px;
}
.left-column {
  flex: 1;
  max-width: 350px;
}
.right-column {
  flex: 2;
  padding: 0 80px;
}

.big-text {
  margin: 20px 0;
}

.label {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}